/* Main holder */
.drop-down-holder {
    padding: 50px;
    padding-top: 0px;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  /* Category title designs */
  .drop-down-category-title {
    padding-top: 130px;
    text-align: center;
    color: var(--dark-blue);
  }
  
  /* Accordion Design */
  .accordion {
    outline: 0;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    margin-top: 25px;
    width: 100%;
    border-color: var(--light-blue);
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .accordion:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  .accordion:focus {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  .accordion:after {
    content: "\002B";
    color: var(--dark-blue);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  /* Panel Design */
  .panel {
    margin-top: 18px;
    padding: 0 18px;
    max-height: 0;
    background-color: var(--white-dark);
    font-size: 15px;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .panel p {
    font-size: 15px;
    line-height: 30px;
    color: var(--black);
  }
  .panel-open {
    max-height: 5000vh;
    padding: 18px 18px;
  }
  
  @media screen and (max-width: 768px) {
    .drop-down-holder {
      padding: 25px;
      padding-top: 0px;
    }
    .drop-down-category-title {
      padding-top: 25px;
    }
  }
  