/* Section Designs */
.index-bg .sections {
    padding-top: 10vh; /* offset height of navMenybar */
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
  }
  
  /* Common Design Every Section */
  .index-bg .section-challenge,
  .index-bg .section-solution,
  .index-bg .section-app {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /* Design for Section Content */
  .index-bg .section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .index-bg .section-content .section-text {
    text-align: center;
  }
  .index-bg .section-content img {
    max-width: 200px;
    max-height: 200px;
  }
  .index-bg .section-content h1 {
    padding: 25px;
    color: var(--dark-blue);
  }
  .index-bg .section-content p {
    padding: 0 50px;
    padding-bottom: 25px;
    line-height: 30px;
    max-width: 500px;
    text-align: left;
  }
  .index-bg .section-content .button {
    display: inline-block;
  }
   /* Lines Designs */
   .line {
    height: 3px;
    width: 100%;
    background-color: none;
    position: relative;
    
  }
  .line1::before,.line2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%; 
  left: 10%;
  right: 10%; 
  top: 0;
  background: var(--dark-blue); 
  }

  /* Tablet layout */
  @media screen and (max-width: 3400px) {
    .index-bg .sections {
      padding-top: 10vh;
      width: 100%;
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .index-bg .section-challenge,
    .index-bg .section-solution,
    .index-bg .section-app {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  
    .index-bg .section-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  
    .index-bg .section-challenge {
      border-right: none;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .index-bg .section-solution {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .index-bg .section-app {
      border-left: none;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  
    .index-bg .section-challenge .section-content,
    .index-bg .section-app .section-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  
    .index-bg .section-solution p {
      padding-left: 0;
    }
  
    .index-bg .section-challenge p,
    .index-bg .section-app p {
      padding-right: 0;
    }
  
    .index-bg .section-content h1 {
      padding-top: 0;
    }
  }
  
  /* Mobile layout */
  @media screen and (max-width: 768px) {
    .index-bg .section-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .index-bg .section-challenge .section-content,
    .index-bg .section-app .section-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .index-bg .section-content h1 {
      padding-top: 25px;
    }
  
    .index-bg .section-challenge p,
    .index-bg .section-solution p,
    .index-bg .section-app p {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  