/* Main holder */
.info-box-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 900px;
  }
  
  /* Info box holder */
  .info-box-w-img {
    border: 2px solid var(--light-blue);
    border-radius: 15px 40px 15px 40px;
    margin: 3px;
    width: 175px;
    height: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 0.25s ease;
  }

  .info-box-w-img:hover {
    transform: scale(1.05);
    border: 2px solid var(--dark-blue);
  }

  
  /* Info box image */
  .info-box-w-img img {
    height: 60px;
    width: 60px;
  }
  
  /* Info box text */
  .info-box-w-img p {
    text-align: center;
    line-height: 25px;
  }
  
  @media screen and (max-width: 768px) {
    .info-box-holder {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  