/* Kontakt Section Design*/ 


.kontakt {
    width: 100%;

   
}
.kontakt-content .column  {
    width: 100%;
  margin: 10px auto;
}

.kontakt-content .button-area{
    text-align: center;
    height: 50px;
}

section .title{
    position: relative;
    text-align:center; 
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;

}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: bold;
    padding: 5px; 
    background: #fff;
    transform: translateX(-50%);
}
.kontakt .title::after{
    content: "Get in touch";
}

.kontakt .kontakt-content .column {
    width: calc(50% - 30px);
}
.kontakt .kontakt-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.kontakt .kontakt-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.kontakt .kontakt-content .row .info{
   margin-left: 30px; 
}
.kontakt .kontakt-content .row i{
    font-size: 25px;
    color: crimson;
}

.kontakt .kontakt-content .info .head{
    font-weight: 500;
}
.kontakt .kontakt-content .info .sub-title{
    color: #333;
}
.kontakt .right form .fields{
    display: flex;
}
.kontakt .right form .field,
.kontakt .right form .fields .field{
    height: 45px;
    width: 100%; 
    margin-bottom: 15px;
}
.kontakt .right form .field .textarea{
    height: 80px;
    width: 100%;
}
.kontakt .right form .name{
    margin-right: 10px;
}
.kontakt .right form .email{
    margin-left: 10px;
}

.kontakt .right form .field input,
.kontakt .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.kontakt .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.kontakt .right form .button {
    height: 47px;
    width: 100%;
}

.kontakt .right form .button-area button{
    width: 170px;
    height: 100%;
    border: 2px solid var(--dark-blue); 
    background: var(--dark-blue);
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    transition: all 0.3 ease;
    cursor: pointer;
}
.kontakt .right form .button-area button:hover{
    color: var(--dark-blue);
    background: none;
}

@media  (max-width: 500px){
     .kontakt-content .fields{
        flex-direction: column;
    }
    .kontakt .right form .name,
    .kontakt .right form .email{
        margin: 0;
    }
}
