/* navMeny holder */
navMeny {
    padding-right: 20px;
    height: 10vh;
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
  }
  
  /* navMeny Logo Design */
  navMeny .navMeny-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
    height: 8vh;
  
    
    transition: all 0.5s ease;
  }
  navMeny .navMeny-logo img {
    height: 8vh;
  }
  navMeny .navMeny-logo h1 {
    font-size: 2rem;
    margin-left: 10px;
    color: var(--white);
  }
  navMeny .navMeny-logo:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  /* Flag Icon Designs */
  navMeny .links .flag-icon {
    height: 30px;
    width: 30px;
  }
  navMeny .links .flag-icon:hover {
    transform: translateY(-4px);
    
  }
  
  /* navMeny link styles */
  navMeny .links {
    max-width: 450px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    
    
  }
  navMeny a {
    z-index: 3;
  }
  navMeny .link a {
    color: var(--white);
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    position: relative;
  }

   .link a:before,
 .link a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  background-color: var(--white);
}
 .link a:before {
  left: 50%;
}
 .link a:after {
  right: 50%;
}

 
   .link:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.1);
    border-bottom: 2px solid var(--white);
  }

  

   .link :active{
    transform: scale(1.15);
    border-bottom: 0,1px solid var(--white);
  }

   .link:hover a:before,
 .link:hover a:after,
 .link .active:before,
 .link .active:after {
  opacity: 1;
}
 .link:hover a:before,
 .link:hover a:after,
 .link .active:before,
 .link .active:after {
  width: 50%;
}
  .hamburger {
    display: none;
  }
  
  
  /* Mobile layout */
  @media screen and (max-width: 768px) {
    navMeny .links {
      position: fixed;
      top: 0;
      background: var(--dark-blue);
      height: 100vh;
      max-width: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      -webkit-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
      pointer-events: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      z-index: 2;
    }
    navMeny .open {
      clip-path: circle(150vh at 90% -10%);
      -webkit-clip-path: circle(150vh at 90% -10%);
      pointer-events: all;
    }
  
    navMeny .links .flag-icon {
      height: 7vh;
      width: 7vh;
    }
  
    navMeny .links .link {
      z-index: 2;
      opacity: 0;
    }
    navMeny .links .link a {
      font-size: 1.75rem;
    }
  
   


    .hamburger {
      display: block;
      z-index: 5000000;
      height: 5vh;
      cursor: pointer;
    }
  

    navMeny .links .fade {
      opacity: 1;
    }
   

  }
   
  
  