/* TITLE, BUTTON, PARAGRAPH */

/* Main holder */
.title-btn-paragraph-holder {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
  }
  
  /* Title */
  .title-btn-paragraph-holder h1 {
    text-align: center;
    color: var(--dark-blue);
    margin-bottom: 25px;
    line-height: 35px;
  }
  
  /* Button */
  .title-btn-paragraph-holder .button {
    margin-top: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Paragraph */
  .title-btn-paragraph-holder p {
    line-height: 30px;
    text-align: left;
  }
  
  /* Mobile layout */
  @media screen and (max-width: 768px) {
    .title-btn-paragraph-holder {
      padding: 25px;
    }
  }
  